#pragma code_page(1251)

STRINGTABLE
BEGIN

65168,  "Invalid stream format"
65169,  "License information for %s is invalid"
65170,  "License information for %s not found. You cannot use this control in design mode"
65171,  "Unable to retrieve a pointer to a running object registered with OLE for %s/%s"

65184,  "Failed to set calendar selected range"
65185,  "No help keyword specified."
65186,  "'%s' is not a valid property value"
65187,  "OLE control activation failed"
65188,  "Could not obtain OLE control window handle"
65189,  "OLE error %.8x"
65190,  "Variant does not reference an OLE object"
65191,  "Variant does not reference an automation object"
65192,  "Method '%s' not supported by OLE object"
65193,  "Link Properties"
65194,  "Cannot link to an invalid source."
65195,  "Break link operation is not supported."
65196,  "Linked %s"
65197,  "Operation not allowed on an empty OLE container"
65198,  "Invalid object verb"
65199,  "%s Properties"

65200,  "Failed to Save Stream"
65201,  "StatusBar cannot have more than 64 panels"
65202,  "Error assigning Hot-Key to %s. %s"
65203,  "Hot-Key is invalid"
65204,  "Window is invalid or a child window"
65205,  "Hot-Key is assigned to another window"
65206,  "%s is already associated with %s"
65207,  "%d is an invalid PageIndex value.  PageIndex must be between 0 and %d"
65208,  "This control requires version 4.70 or greater of COMCTL32.DLL"
65209,  "Date exceeds maximum of %s"
65210,  "Date is less than minimum of %s"
65211,  "You must be in ShowCheckbox mode to set to this date"
65212,  "Failed to set calendar date or time"
65213,  "Failed to set maximum selection range"
65214,  "Failed to set calendar min/max range"
65215,  "Date range can only be used in multiselect mode"

65216,  "Failed to clear tab control"
65217,  "Failed to delete tab at index %d"
65218,  "Failed to retrieve tab at index %d"
65219,  "Failed to get object at index %d"
65220,  "Failed to set tab ""%s"" at index %d"
65221,  "Failed to set object at index %d"
65222,  "MultiLine must be True when TabPosition is tpLeft or tpRight"
65223,  "Invalid item level assignment"
65224,  "Invalid level (%d) for item ""%s"""
65225,  "Invalid index"
65226,  "Unable to insert an item"
65227,  "Invalid owner"
65228,  "Unable to create new column"
65229,  "Unable to create new item"
65230,  "RichEdit line insertion error"
65231,  "Failed to Load Stream"

65232,  "Highlight Background"
65233,  "Highlight Text"
65234,  "Inactive Border"
65235,  "Inactive Caption"
65236,  "Inactive Caption Text"
65237,  "Info Background"
65238,  "Info Text"
65239,  "Menu Background"
65240,  "Menu Text"
65241,  "None"
65242,  "Scroll Bar"
65243,  "3D Dark Shadow"
65244,  "3D Light"
65245,  "Window Background"
65246,  "Window Frame"
65247,  "Window Text"

65248,  "White"
65249,  "Money Green"
65250,  "Sky Blue"
65251,  "Cream"
65252,  "Medium Gray"
65253,  "Active Border"
65254,  "Active Caption"
65255,  "Application Workspace"
65256,  "Background"
65257,  "Button Face"
65258,  "Button Highlight"
65259,  "Button Shadow"
65260,  "Button Text"
65261,  "Caption Text"
65262,  "Default"
65263,  "Gray Text"

65264,  "No ActionBand style unit present in the uses clause. Your application must include either XPStyleActnCtrls, StdStyleActnCtrls or a third party ActionBand style unit in its uses clause."
65265,  "Black"
65266,  "Maroon"
65267,  "Green"
65268,  "Olive"
65269,  "Navy"
65270,  "Purple"
65271,  "Teal"
65272,  "Gray"
65273,  "Silver"
65274,  "Red"
65275,  "Lime"
65276,  "Yellow"
65277,  "Blue"
65278,  "Fuchsia"
65279,  "Aqua"

65280,  "ActionManager must first be assigned"
65281,  "&Add or Remove Buttons"
65282,  "Reset Toolbar"
65283,  "&Customize"
65284,  "Separator"
65285,  "Circular references not allowed"
65286,  "%s does not allow hiding"
65287,  "Error setting %s.Count"
65288,  "Listbox (%s) style must be virtual in order to set Count"
65289,  "Unable to save settings"
65290,  "Would you like to reset to the default Priority Schedule?"
65291,  "No OnGetItem event handler assigned"
65292,  "Invalid Colormap this ActionBand requires ColorMaps of type TCustomActionBarColorMapEx"
65293,  "A style named %s has already been registered"
65294,  "Standard Style"
65295,  "XP Style"

65296,  "Cannot assign a subitem to an actionbar when one of it's parent's is already assigned to an actionbar"
65297,  "Item %s has subitems, delete anyway?"
65298,  "You are not allowed to delete this item"
65299,  "Item %s is not allowed to be moved"
65300,  "More Buttons"
65301,  "Error downloading URL: %s"
65302,  "Unable to load %s"
65303,  "(All Actions)"
65304,  "(No Category)"
65305,  "Expand"
65306,  "Error setting path: ""%s"""
65307,  "Attempting to put items into a virtual style listbox"
65308,  "Error loading previously saved settings file: %s Would you like to delete it?"
65309,  "Reset all usage data?"
65310,  "Run"
65311,  "(No Name)"

65312,  "Error removing control from dock tree"
65313,  " - Dock zone not found"
65314,  " - Dock zone has no control"
65315,  "All Commands"
65316,  "List does not allow duplicates ($0%x)"
65317,  "Text not found: ""%s"""
65318,  "No default browser is specified"
65319,  "Custom..."
65320,  "Multiselect mode must be on for this feature"
65321,  "Key"
65322,  "Value"
65323,  "A key with the name of ""%s"" already exists"
65324,  "Key ""%s"" not found"
65325,  "goColMoving is not a supported option"
65326,  "Key may not contain equals sign (""="")"
65327,  "Error sending mail"

65328,  "start"
65329,  "stop"
65330,  "pause"
65331,  "continue"
65332,  "interrogate"
65333,  "shutdown"
65334,  "Service failed in custom message(%d): %s"
65335,  "Service installed successfully"
65336,  "Service ""%s"" failed to install with error: ""%s"""
65337,  "Service uninstalled successfully"
65338,  "Service ""%s"" failed to uninstall with error: ""%s"""
65339,  "Invalid action registration"
65340,  "Invalid action unregistration"
65341,  "Invalid action enumeration"
65342,  "Invalid action creation"
65343,  "Docked control must have a name"

65344,  "MMMovie"
65345,  "Other"
65346,  "Overlay"
65347,  "Scanner"
65348,  "Sequencer"
65349,  "VCR"
65350,  "Videodisc"
65351,  "WaveAudio"
65352,  "Unknown error code"
65353,  "Bold Italic"
65354,  "Bold"
65355,  "Italic"
65356,  "Regular"
65357,  "Properties"
65358,  "Service failed on %s: %s"
65359,  "execute"

65360,  "Bits index out of range"
65361,  "(Untitled)"
65362,  "Invalid data type for '%s'"
65363,  "Unknown RichEdit conversion file extension (.%s)"
65364,  "Menu '%s' is already being used by another form"
65365,  "Picture:"
65366,  " (%dx%d)"
65367,  "Preview"
65368,  "Cannot open AVI"
65369,  "No MCI device open"
65370,  "All files (*.*)|*.*|Wave files (*.wav)|*.wav|Midi files (*.mid)|*.mid|Video for Windows (*.avi)|*.avi"
65372,  "AVIVideo"
65373,  "CDAudio"
65374,  "DAT"
65375,  "DigitalVideo"

65376,  "Directory &Name:"
65377,  "D&rives:"
65378,  "&Directories:"
65379,  "&Files: (*.*)"
65380,  "Ne&twork..."
65381,  "Color"
65382,  "ABCDEFGHIJKLMNOP"
65383,  "Invalid clipboard format"
65384,  "Clipboard does not support Icons"
65385,  "Cannot open clipboard"
65386,  "Default"
65387,  "Text exceeds memo capacity"
65388,  "Custom Colors"
65389,  "Operation not supported on selected printer"
65390,  "There is no default printer currently selected"
65391,  "Unable to write to %s"

65392,  "Down"
65393,  "Ins"
65394,  "Del"
65395,  "Shift+"
65396,  "Ctrl+"
65397,  "Alt+"
65398,  "(Unknown)"
65399,  "(None)"
65400,  "Value must be between %d and %d"
65401,  "Invalid argument to date encode"
65402,  "All files (*.*)|*.*"
65403,  "All"
65404,  ": [ - no volume label - ]"
65405,  "Unable to insert a line"
65406,  "The specified directory does not exist. Create it?"
65407,  "Select Directory"

65408,  "&Ignore"
65409,  "&All"
65410,  "N&o to All"
65411,  "Yes to &All"
65412,  "BkSp"
65413,  "Tab"
65414,  "Esc"
65415,  "Enter"
65416,  "Space"
65417,  "PgUp"
65418,  "PgDn"
65419,  "End"
65420,  "Home"
65421,  "Left"
65422,  "Up"
65423,  "Right"

65424,  "File load error"
65425,  "Line too long"
65426,  "Maximum outline depth exceeded"
65427,  "Предупреждение"
65428,  "Ошибка"
65429,  "Информация"
65430,  "Подтверждение"
65431,  "&Да"
65432,  "&Нет"
65433,  "ОК"
65434,  "Отмена"
65435,  "&Помощь"
65436,  "No help available"
65437,  "Помощь"
65438,  "&Прервать"
65439,  "&Повторить"

65440,  "Grid too large for operation"
65441,  "Too many rows or columns deleted"
65442,  "Grid index out of range"
65443,  "Fixed column count must be less than column count"
65444,  "Fixed row count must be less than row count"
65445,  "Cannot insert or delete rows from grid"
65446,  "Invalid Enum Value"
65447,  "Invalid numeric value"
65448,  "Outline index not found"
65449,  "Parent must be expanded"
65450,  "Invalid value for current item"
65451,  "Invalid input value"
65452,  "Invalid input value.  Use escape key to abandon changes"
65453,  "Invalid outline index"
65454,  "Incorrect level assignment"
65455,  "Invalid selection"

65456,  "Cannot drag a form"
65457,  "PutObject to undefined item"
65458,  "Could not load CARDS.DLL"
65459,  "Duplicate CardId found"
65460,  "An error returned from DDE  ($0%x)"
65461,  "DDE Error - conversation not established ($0%x)"
65462,  "Error occurred when DDE ran out of memory ($0%x)"
65463,  "Unable to connect DDE conversation"
65464,  "FB"
65465,  "FG"
65466,  "BG"
65467,  "Cannot load older version of TShape"
65468,  "Metafiles"
65469,  "Enhanced Metafiles"
65470,  "Icons"
65471,  "Bitmaps"

65472,  "%s on %s"
65473,  "GroupIndex cannot be less than a previous menu item's GroupIndex"
65474,  "Cannot have more than one MDI form per application"
65475,  "Cannot create form. No MDI forms are currently active"
65476,  "Can only modify an image if it contains a bitmap"
65477,  "A control cannot have itself as its parent"
65478,  "OK"
65479,  "Отмена"
65480,  "&Да"
65481,  "&Нет"
65482,  "&Help"
65483,  "&Close"
65484,  "&Ignore"
65485,  "&Retry"
65486,  "Abort"
65487,  "&All"

65488,  "Cannot focus a disabled or invisible window"
65489,  "Control '%s' has no parent window"
65490,  "Parent given is not a parent of '%s'"
65491,  "Cannot hide an MDI Child Form"
65492,  "Cannot change Visible in OnShow or OnHide"
65493,  "Cannot make a visible window modal"
65494,  "Scrollbar property out of range"
65495,  "%s property out of range"
65496,  "Menu index out of range"
65497,  "Menu inserted twice"
65498,  "Sub-menu is not in menu"
65499,  "Not enough timers available"
65500,  "Printer is not currently printing"
65501,  "Printing in progress"
65502,  "Printer index out of range"
65503,  "Printer selected is not valid"

65504,  "Unknown picture file extension (.%s)"
65505,  "Unsupported clipboard format"
65506,  "Out of system resources"
65507,  "Canvas does not allow drawing"
65508,  "Неверный размер изображения"
65509,  "Too many images"
65510,  "Image dimensions do not match image list dimensions"
65511,  "Invalid ImageList"
65512,  "Unable to Replace Image"
65513,  "Invalid ImageList Index"
65514,  "Failed to read ImageList data from stream"
65515,  "Failed to write ImageList data to stream"
65516,  "Error creating window device context"
65517,  "Client of TDrag not initialized"
65518,  "Error creating window class"
65519,  "Error creating window"

65520,  "Open"
65521,  "Can't write to a read-only resource stream"
65522,  "WriteObject called twice for the same instance"
65523,  "Resource %s is of incorrect class"
65524,  "Tab index out of bounds"
65525,  "Tab position incompatible with current tab style"
65526,  "Tab style incompatible with current tab position"
65527,  "Bitmap image is not valid"
65528,  "Icon image is not valid"
65529,  "Metafile is not valid"
65530,  "Invalid pixel format"
65531,  "Invalid image"
65532,  "Bitmap is empty"
65533,  "Scan line index out of range"
65534,  "Cannot change the size of an icon"
65535,  "Invalid operation on TOleGraphic"




END